@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-item {
  @apply rounded-md hover:rounded-xl
}

.menu-item-active {
  @apply text-blue-500
}


 /* Custom style */
 .header-right {
  width: calc(100% - 3.5rem);
}
.sidebar:hover {
  width: 16rem;
}
@media only screen and (min-width: 768px) {
  .header-right {
      width: calc(100% - 16rem);
  }        
}

.my-input{
  @apply border rounded-lg px-3 py-2 mt-1 mb-5 text-sm
}

.tb-active{
  @apply [--tab-bg:#64748b] [--tab-border-color:#e0e0e0] text-white
}

td{
  @apply border border-gray-200
}